.abc{
    width: 30%;
    display: flex;
    justify-content: space-between;
    
}


.Department{
    font-family:serif;
}
.q{
    display: flex;
}

.faculty-photo{
    margin-top: 10%;
    margin-left: auto;
    margin-right:auto;
    border-radius:50%;
    border:1px solid #DCDCDC;
    height: 50%;
    width: 50%;
}

